# Ignore emacs' autosave files
*~

# Ignore other backup / autosave files
\#*\#

# Python
## Ignore pycache directories
**/__pycache__/

## Ignore venv directories
.venv/

# Ignore database (.db) files
*.db